<h1 style="color: red;">Generating fake data with Faker</h1>

In [ ]:
from faker import Faker
import decimal, random, secrets, sqlalchemy, json, datetime, calendar
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

# import pandas_profiling

In [3]:
def default(o):
    if isinstance(o, (datetime.date, datetime.datetime)):
        return o.isoformat()

In [4]:
# initialize Faker instance
faker = Faker()

In [6]:
# creating our sqlalchemy engine and creating connection
def create_engine(username, password, database, *args, **kwargs):
    return sqlalchemy.create_engine(f'postgresql://{username}:{password}@localhost:5432/{database}')

# creating a connection
engine = create_engine('vegas', 'VrichCrich99', 'univers-demo')

# general column fields
general_columns = ['id', 'appstech_labs_id', 'sparse', 'active', 'sync_token', 'domain', 'metadata_createtime', 'metadata_last_updatedtime']

In [10]:
# functions for general fields..
def general_active():
    return np.random.choice([True, False], p=[0.9998, 0.0002])

def general_sync_token():
    return str(faker.uuid4())

def general_domain_name():
    return np.random.choice(['QBO', 'OTHER'], p=[0.9998, 0.0002])

def general_sparse():
    return np.random.choice([True, False], p=[0.00001, 0.99999])

def general_meta_time():
    return faker.date_between(start_date='-2y')

In [11]:
def get_item_name():
    return faker.name()

def get_txn_date():
    return faker.date_between(start_date='-2y')

def get_unit_price():
    return random.randint(100, 200)

def get_item_qyt():
    return random.randint(1, 10)

def get_item_amt(qty, unit_price, *args, **kwargs):
    return qty * unit_price

def get_is_discount_percent():
    return faker.boolean()

def get_discount_per():
    return random.randint(1, 20)

def get_currency_code():
    currency_codes = ['USD', 'AUD', 'XAF']
    return faker.random_element(elements=currency_codes)

def get_total_tax():
    return random.randint(0, 2000)

def get_tax_code_value():
    tax_codes = ['TAX', 'NON']
    return faker.random_element(elements=tax_codes)

def get_total_tax():
    return np.random.choice(10, p=[0.6, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0])

def get_total_amt(amt, total_tax, discount_amt, is_discount_per, *args, **kwargs):
    if is_discount_per:
        discount_per = kwargs.get('discount_per', None)
        
        if not discount_per:
            raise Exception('Discount percentage value required')
        
        return amt - (discount_per / 100 * amt) + total_tax
        
    else:
        
        return amt + total_tax - discount_amt

<h1 style="color: red;">Generate Dataframe</h1>

In [12]:
def generate_dataframe():
    df = pd.DataFrame(columns=['date', 'item_id', 'item_name', 'qty', 'unit_price', 'amt', 'discount_amt', 'tax_code_value','is_discount_percent','discount_per', 'txn_total_tax', 'margin', 'total_amt'])
    
    # loop for 1000 customers for a company
    for transaction_id in range(500):
        qty = get_item_qyt()
        unit_price = get_unit_price()
        amt = get_item_amt(qty, unit_price)
        is_discount_percent = get_is_discount_percent()
        discount_amt = get_discount_per() / 100 * amt
        tax_code = get_tax_code_value()
        discount_per = get_discount_per()
        total_tax = get_total_tax()
        total_amt = get_total_amt(amt, total_tax, discount_amt, is_discount_percent, discount_per=discount_per)
        
        df = df.append({'date': get_txn_date(), 'item_id': transaction_id, 'item_name': get_item_name(), 'qty': qty, 'unit_price': unit_price, 'amt': amt, 'discount_amt': discount_amt if not is_discount_percent else discount_per / 100 * amt, 'tax_code_value': tax_code, 'is_discount_percent': is_discount_percent, 'discount_per': discount_per if is_discount_percent else 0, 'txn_total_tax': total_tax, 'total_amt': total_amt}, ignore_index=True)

    return df

In [13]:
generated_df = generate_dataframe()
generated_df.sort_values(by=['date'], inplace=True, ignore_index=True)
generated_df.head()

,date,item_id,item_name,qty,unit_price,amt,discount_amt,tax_code_value,is_discount_percent,discount_per,txn_total_tax,margin,total_amt
0,2018-05-03,320,Teresa Shaw,2,130,260,52.00,NON,True,20,0,NaN,208.00
1,2018-05-05,341,Amber Wagner,1,126,126,5.04,NON,False,0,0,NaN,120.96
2,2018-05-06,93,Brandon Thompson,7,124,868,147.56,NON,False,0,0,NaN,720.44
3,2018-05-08,126,Pamela Olson,5,196,980,9.80,NON,False,0,0,NaN,970.20
4,2018-05-09,127,Eric Lewis,1,148,148,1.48,TAX,False,0,8,NaN,154.52

In [14]:
generated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 500 non-null    object
 1   item_id              500 non-null    object
 2   item_name            500 non-null    object
 3   qty                  500 non-null    object
 4   unit_price           500 non-null    object
 5   amt                  500 non-null    object
 6   discount_amt         500 non-null    float64
 7   tax_code_value       500 non-null    object
 8   is_discount_percent  500 non-null    object
 9   discount_per         500 non-null    object
 10  txn_total_tax        500 non-null    object
 11  margin               0 non-null      float64
 12  total_amt            500 non-null    float64
dtypes: float64(3), object(10)
memory usage: 50.9+ KB

<h1 style="color: red;">Pickle Dataframe</h1>

In [15]:
# generated_df.to_pickle('./fake_data.pkl')

<h1 style="color: red;">Generate User Table</h1>

In [16]:
# create dataframe and columns
user_columns = ['id', 'first_name', 'last_name', 'email', 'company', 'password', 'active', 'secret_code', 'created_on', 'updated_on']

In [17]:
# function definations for getting fake data...
def get_first_name():
    return faker.first_name()

def get_last_name():
    return faker.last_name()

def get_email():
    return faker.email()
#     split = email.split('@')
#     return f'{split[0]}_{id}@{split[-1]}'

def get_company_name():
    return faker.company()

def get_secrets(length):
    return str(secrets.token_hex(int(length)))

def get_creation_date():
    return faker.date_between(start_date='-2y')

In [18]:
# generate dataframe
def generate_user_dataframe(num_of_users):
    df = pd.DataFrame(columns=user_columns)
    
    # generating 1000 users
    for user_id in range(num_of_users):
        df = df.append({'id': user_id + 1, 'first_name': get_first_name(), 'last_name': get_last_name(), 'email': get_email(), 'company': get_company_name(), 'password': get_secrets(16), 'active': general_active(), 'secret_code': get_secrets(4), 'created_on': get_creation_date(), 'updated_on': get_creation_date()}, ignore_index=True)
        
    df.sort_values(by=['id', 'created_on'], inplace=True, ignore_index=True)
    
    return df

In [19]:
user_df = generate_user_dataframe(3)
user_df.head()

,id,first_name,last_name,email,company,password,active,secret_code,created_on,updated_on
0,1,Rebecca,Barajas,lisataylor@fernandez-hernandez.com,Hicks-Wright,836bbc35f24efefc8f6f57b7c0915e62,True,6ec2d5c0,2019-10-05,2019-10-02
1,2,Olivia,Collier,angela99@weaver.net,Compton Inc,9ef3fcda3f2ea7821a1ebc2300caee56,True,a82df596,2019-12-13,2019-05-16
2,3,James,Duncan,williamsmarcia@hotmail.com,"Watson, Barr and Rivas",3c89112fe3632787c7b6ecaf1691c933,True,9d104fa4,2020-04-24,2019-06-27

In [20]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           3 non-null      object
 1   first_name   3 non-null      object
 2   last_name    3 non-null      object
 3   email        3 non-null      object
 4   company      3 non-null      object
 5   password     3 non-null      object
 6   active       3 non-null      object
 7   secret_code  3 non-null      object
 8   created_on   3 non-null      object
 9   updated_on   3 non-null      object
dtypes: object(10)
memory usage: 368.0+ bytes

In [21]:
# save dataframe to db
# user_df.to_sql('users', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate TaxAgency Table</h1>

In [22]:
def tax_tracked_onpurchases():
    on_purchase_tax = [True, False]
    return faker.random_element(elements=on_purchase_tax)

def tax_tracked_onsales():
    on_sales_tax = [True, False]
    return faker.random_element(elements=on_sales_tax)

def display_tax_name():
    return faker.word().upper()

def tax_registration_number():
    return faker.credit_card_number()

def get_last_file_date():
    return faker.date_between(start_date='-2y')

In [23]:
# generate dataframe
def generate_tax_agency_dataframe(num_rows):
    columns = ['tax_tracked_onpurchases', 'tax_tracked_onsales', 'last_file_date', 'display_name', 'tax_registration_number']
    columns = columns.extend(general_columns)
    df = pd.DataFrame(columns=columns)
    user_ids = user_df.loc[:, 'id'].values.tolist()
    
    for table_id in range(num_rows):
        appstech_labs_id = faker.random_element(elements=user_ids)
        
        if table_id != appstech_labs_id:
            df = df.append({'id': table_id, 'appstech_labs_id': appstech_labs_id, 'tax_tracked_onpurchases': tax_tracked_onpurchases(), 'tax_tracked_onsales': tax_tracked_onsales(), 'last_file_date': get_last_file_date(), 'display_name': display_tax_name(), 'tax_registration_number': tax_registration_number(), 'domain': general_domain_name(), 'sparse': general_sparse(), 'active': general_active(), 'sync_token': general_sync_token(), 'metadata_createtime': general_meta_time(), 'metadata_last_updatedtime': general_meta_time()}, ignore_index=True)
        else:
            continue
            
#     df = df.sample(n=df.shape[0], axis=0).reset_index(drop=True)
    pd.options.display.float_format = '{:,.0f}'.format
    df[['tax_tracked_onpurchases', 'tax_tracked_onsales', 'sparse', 'active']]= df[['tax_tracked_onpurchases', 'tax_tracked_onsales', 'sparse', 'active']].astype('boolean')
    return df

In [26]:
tax_agency_df = generate_tax_agency_dataframe(10)
tax_agency_df

,active,appstech_labs_id,display_name,domain,id,last_file_date,metadata_createtime,metadata_last_updatedtime,sparse,sync_token,tax_registration_number,tax_tracked_onpurchases,tax_tracked_onsales
0,True,3,SECOND,QBO,0,2018-06-25,2018-10-07,2020-02-28,False,dc6e5423-a9ae-4148-b888-1381a91813c1,180076064274154,False,False
1,True,3,TV,QBO,1,2018-07-10,2018-08-29,2018-11-29,False,78eaf4db-2421-40d8-80db-2d48f1e534eb,4620249204639145,False,True
2,True,1,ROCK,QBO,4,2019-09-25,2019-04-12,2018-06-09,False,0bef77e8-5eb5-4679-939a-9bcc5687a21b,571082725854,True,False
3,True,2,ISSUE,QBO,5,2019-02-18,2019-05-09,2018-11-10,False,5fee0994-5fef-47cf-9863-f5fb7fa0badd,3590987789289434,True,True
4,True,1,HEAD,QBO,6,2018-10-29,2018-05-21,2018-12-17,False,6f053ef8-f044-4e48-8bab-b34e36d6d12d,2717762526310920,True,True
5,True,2,PROPERTY,QBO,7,2020-01-29,2019-05-25,2019-03-27,False,af0524a9-4885-408d-9159-f0e499fe8c4f,3539510031531199,False,False
6,True,1,HOUR,QBO,8,2018-12-10,2019-04-23,2018-11-25,False,576ccdde-2994-40c6-a9cd-c91fd32e4e8d,30076743168795,False,True
7,True,2,ANSWER,QBO,9,2018-05-18,2018-12-04,2018-07-16,False,77998c26-0594-4b0a-862d-302823493067,502090916706,False,True

In [27]:
# save dataframe to db
# tax_agency_df.to_sql('quickbooks_tax_agencies', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate TaxRate Table</h1>

In [28]:
# tax code values
tax_code_dic = [
    {'id': 'Z', 'description': 'Zero-rated', 'rate_in_percent': 0, 'tax_onsale': 'Taxable'},
    {'id': 'E', 'description': 'Tax-exempt', 'rate_in_percent': 'N/A', 'tax_onsale': 'Non-taxable'},
    {'id': 'Out of scope', 'description': 'Nontaxable goods and services', 'rate_in_percent': 0, 'tax_onsale': 'N/A'},
    {'id': 'GST', 'description': 'Federal goods & services tax', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'GST BC', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST BC', 'description': 'BC provincial tax only', 'rate_in_percent': 7, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST BC', 'description': 'Federal and provincial tax (BC)', 'rate_in_percent': 12, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST MB', 'description': 'Combined federal and Manitoba provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST MB', 'description': 'Manitoba provincial tax only', 'rate_in_percent': 8, 'tax_onsale': 'Taxable'},
    {'id': 'HST NB', 'description': 'Harmonized federal and New Brunswick provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NL', 'description': 'Harmonized federal and Newfoundland and Labrador provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NS', 'description': 'Harmonized federal and Nova Scotia provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST ON', 'description': 'Harmonized federal and Ontario provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'HST', 'description': 'Harmonized federal and PEI provincial tax', 'rate_in_percent': 14, 'tax_onsale': 'Taxable'},
    {'id': 'GST/QST QC', 'description': 'Combined federal and Quebec provincial tax', 'rate_in_percent': 14.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'QST QC', 'description': 'Quebec provincial tax only', 'rate_in_percent': 9.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST SK', 'description': 'Combined federal and Saskatchewan provincial tax', 'rate_in_percent': 10, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST SK', 'description': 'Zero-rated', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'}, 
]

In [29]:
def generate_tax_rate_dataframe(num_rows):
    columns = ['name', 'rate_value', 'agency_ref_value', 'agency_ref_name', 'desciption', 'display_type', 'tax_return_line_ref_value', 'tax_return_line_ref_name', 'effective_tax_rate_data_value', 'effective_tax_rate_data_end_date', 'effective_tax_rate_data_effective_date', 'special_tax_type']
    columns = columns.extend(general_columns)
    df = pd.DataFrame(columns=columns)
    user_ids = user_df.loc[:, 'id'].values.tolist()
    
#     for user_id in range(num_rows):
    for index, tax_obj in enumerate(tax_code_dic):
        table_id = faker.random_int(min=1, max=10)
        appstech_labs_id = faker.random_element(elements=user_ids)

        if table_id != appstech_labs_id:
            tax_agency_obj = tax_agency_df.loc[tax_agency_df['appstech_labs_id'] == appstech_labs_id]
            tax_agency_obj
            agency_ref_value = tax_agency_obj['id'].values[0]
            agency_ref_name = tax_agency_obj['display_name'].values[0]
            df = df.append({'id': index + 1, 'appstech_labs_id': appstech_labs_id, 'name': tax_obj['id'], 'rate_value': tax_obj['rate_in_percent'], 'agency_ref_value': agency_ref_value, 'agency_ref_name': agency_ref_name, 'active': general_active(), 'description': tax_obj['description'], 'display_type': 'ReadOnly', 'tax_return_line_ref_value': np.nan, 'tax_return_line_ref_name': np.nan, 'effective_tax_rate_data_value': np.nan, 'effective_tax_rate_data_end_date': get_creation_date(), 'effective_tax_rate_data_effective_date': get_creation_date(), 'special_tax_type': 'NONE', 'domain': general_domain_name(), 'sparse': general_sparse(), 'sync_token': general_sync_token(), 'metadata_createtime': general_meta_time(), 'metadata_last_updatedtime': general_meta_time()}, ignore_index=True)
        else:
            continue
    
#     df = df.sample(n=df.shape[0], axis=0).reset_index(drop=True)
    pd.options.display.float_format = '{:,.0f}'.format
    df[['sparse', 'active']]= df[['sparse', 'active']].astype('boolean')
    return df

In [30]:
tax_rate_df = generate_tax_rate_dataframe(3)
tax_rate_df.head()

,active,agency_ref_name,agency_ref_value,appstech_labs_id,description,display_type,domain,effective_tax_rate_data_effective_date,effective_tax_rate_data_end_date,effective_tax_rate_data_value,id,metadata_createtime,metadata_last_updatedtime,name,rate_value,sparse,special_tax_type,sync_token,tax_return_line_ref_name,tax_return_line_ref_value
0,True,SECOND,0,3,Zero-rated,ReadOnly,QBO,2018-10-14,2019-08-03,nan,1,2019-12-16,2019-06-07,Z,0,False,NONE,3f5d24e0-9fde-4651-820d-4f4305efab38,nan,nan
1,True,ROCK,4,1,Tax-exempt,ReadOnly,QBO,2019-11-19,2020-04-23,nan,2,2020-04-08,2020-03-27,E,N/A,False,NONE,aa145ff5-b6cd-43b4-bb69-3d9d193f5cb3,nan,nan
2,True,ISSUE,5,2,Nontaxable goods and services,ReadOnly,QBO,2018-12-08,2018-06-17,nan,3,2019-12-28,2020-02-19,Out of scope,0,False,NONE,733417e8-4cc9-487c-8eb9-8ba72e7f1db8,nan,nan
3,True,SECOND,0,3,Federal goods & services tax,ReadOnly,QBO,2018-11-12,2019-09-22,nan,4,2018-05-18,2019-11-16,GST,5,False,NONE,7c982999-d0f6-447a-a7b0-dec10ae96fae,nan,nan
4,True,SECOND,0,3,Federal tax (GST) only,ReadOnly,QBO,2018-10-27,2020-04-05,nan,5,2019-09-05,2020-03-22,GST BC,5,False,NONE,50bd3742-f46b-46cf-87b6-ae78a1feea76,nan,nan

In [31]:
# save dataframe to db
# tax_rate_df.to_sql('quickbooks_tax_rates', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate TaxCode Table</h1>

In [32]:
def generate_tax_name(taxable, tax_group, *args, **kwargs):
    if taxable and tax_group:
        return kwargs['id']
        
    elif taxable and not tax_group:
        return 'TAX'
        
    elif not taxable and not tax_group or not taxable:
        return 'NON'
    
def is_taxable(*args, **kwargs):
    if 'taxable' in kwargs:
        if kwargs['taxable'] == True:
            return np.random.choice([True, False], p=[0.35, 0.65])
        else:
            return False
    else:
        return np.random.choice([True, False], p=[0.55, 0.45])
    
def generate_tax_rate(tax_group, tax_ref, *args, **kwargs):
    if tax_group:
        if 'purchase' in kwargs:
            return generate_tax_list(np.random.randint(low=1,high=4), tax_ref, purchase=kwargs['purchase'])
        else:
            return generate_tax_list(np.random.randint(low=1,high=4), tax_ref)
    else:
        return []
    
def generate_tax_list(list_len, tax_ref, *args, **kwargs):
    for i in range(list_len):
        if 'purchase' in kwargs:
            return np.random.choice([{
                'TaxRateDetail': [
                    {"TaxRateRef": {
                        "value": int(tax_ref['value']),
                        "name": tax_ref['name']
                        }
                    }],
                "TaxTypeApplication": np.random.choice(["TaxOnAmount", "TaxOnAmountPlusTax", "TaxOnTax"], p=[0.8, 0.1, 0.1]),
                "TaxOrder": 0}, []], p=[0.15, 0.85])
        
        return {
            'TaxRateDetail': [
                {"TaxRateRef": {
                    "value": int(tax_ref['value']),
                    "name": tax_ref['name']
                }},
            ],
            "TaxTypeApplication": np.random.choice(["TaxOnAmount", "TaxOnAmountPlusTax", "TaxOnTax"], p=[0.8, 0.1, 0.1]),
            "TaxOrder": 0
        }

In [33]:
# tax code values
tax_code = [
    {'id': 'Z', 'description': 'Zero-rated', 'rate_in_percent': 0, 'tax_onsale': 'Taxable'},
    {'id': 'E', 'description': 'Tax-exempt', 'rate_in_percent': 'N/A', 'tax_onsale': 'Non-taxable'},
    {'id': 'Out of scope', 'description': 'Nontaxable goods and services', 'rate_in_percent': 0, 'tax_onsale': 'N/A'},
    {'id': 'GST', 'description': 'Federal goods & services tax', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'GST BC', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST BC', 'description': 'BC provincial tax only', 'rate_in_percent': 7, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST BC', 'description': 'Federal and provincial tax (BC)', 'rate_in_percent': 12, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST MB', 'description': 'Combined federal and Manitoba provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST MB', 'description': 'Manitoba provincial tax only', 'rate_in_percent': 8, 'tax_onsale': 'Taxable'},
    {'id': 'HST NB', 'description': 'Harmonized federal and New Brunswick provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NL', 'description': 'Harmonized federal and Newfoundland and Labrador provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NS', 'description': 'Harmonized federal and Nova Scotia provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST ON', 'description': 'Harmonized federal and Ontario provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'HST', 'description': 'Harmonized federal and PEI provincial tax', 'rate_in_percent': 14, 'tax_onsale': 'Taxable'},
    {'id': 'GST/QST QC', 'description': 'Combined federal and Quebec provincial tax', 'rate_in_percent': 14.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'QST QC', 'description': 'Quebec provincial tax only', 'rate_in_percent': 9.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST SK', 'description': 'Combined federal and Saskatchewan provincial tax', 'rate_in_percent': 10, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST SK', 'description': 'Zero-rated', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'}, 
]

In [34]:
def generate_tax_code_dataframe(num_rows):
    columns = ['name', 'description', 'hidden', 'taxable', 'tax_group', 'purchase_tax_ratelist_nested', 'sales_tax_ratelist_nested']
    columns = columns.extend(general_columns)
    df = pd.DataFrame(columns=columns)
    user_ids = user_df.loc[:, 'id'].values.tolist()
    
#     for user_id in range(num_rows):
    for index, tax_obj in enumerate(tax_code_dic):
        table_id = faker.random_int(min=1, max=10)
        appstech_labs_id = faker.random_element(elements=user_ids)
        taxable = is_taxable() # randomly generate boolean
        tax_group = is_taxable(taxable=taxable) # randomly generated boolean
        tax_id = generate_tax_name(taxable, tax_group, id=tax_obj['id'])

        if tax_id != appstech_labs_id:
            name = generate_tax_name(taxable, tax_group, id=tax_obj['id'])
            purchase_tax_rateList = json.dumps(generate_tax_rate(tax_group, {'value': tax_rate_df['id'][appstech_labs_id], 'name': tax_rate_df['name'][appstech_labs_id]}, purchase=True))
            sales_tax_rateList = json.dumps(generate_tax_rate(tax_group, {'value': tax_rate_df['id'][appstech_labs_id], 'name': tax_rate_df['name'][appstech_labs_id]}))

            df = df.append({'id': tax_id, 'appstech_labs_id': appstech_labs_id, 'name': name, 'description': tax_obj['description'], 'active': general_active(), 'hidden': np.random.choice([True, False], p=[0.25, 0.75]), 'taxable': taxable, 'tax_group': tax_group, 'purchase_tax_ratelist_nested': purchase_tax_rateList, 'sales_tax_ratelist_nested': sales_tax_rateList, 'domain': general_domain_name(), 'sparse': general_sparse(), 'sync_token': general_sync_token(), 'metadata_createtime': general_meta_time(), 'metadata_last_updatedtime': general_meta_time()}, ignore_index=True)
        
        else:
            continue
        
    df[['sparse', 'active', 'hidden', 'taxable', 'tax_group']]= df[['sparse', 'active', 'hidden', 'taxable', 'tax_group']].astype('boolean')
    return df

In [35]:
tax_code_df = generate_tax_code_dataframe(10000)
tax_code_df.head()

,active,appstech_labs_id,description,domain,hidden,id,metadata_createtime,metadata_last_updatedtime,name,purchase_tax_ratelist_nested,sales_tax_ratelist_nested,sparse,sync_token,tax_group,taxable
0,True,3,Zero-rated,QBO,False,NON,2019-05-23,2020-02-27,NON,[],[],False,1f30d933-dc56-41c6-bd0d-eb8d327ade91,False,False
1,True,3,Tax-exempt,QBO,False,E,2018-07-22,2018-12-03,E,[],"{""TaxRateDetail"": [{""TaxRateRef"": {""value"": 4,...",False,d47dc07b-a241-45ec-a364-ab8acc3e68af,True,True
2,True,1,Nontaxable goods and services,QBO,False,NON,2019-04-23,2019-07-06,NON,[],[],False,509f8e95-1f16-49b4-9e20-1a7638539600,False,False
3,True,3,Federal goods & services tax,QBO,False,TAX,2019-12-23,2018-08-11,TAX,[],[],False,4b0134de-713a-4d72-8064-bc310f5d0515,False,True
4,True,3,Federal tax (GST) only,QBO,False,NON,2019-06-02,2019-07-13,NON,[],[],False,cbbb3777-a2a3-4fee-b834-1c4921dc46f8,False,False

In [37]:
tax_code_df.drop_duplicates(['id', 'appstech_labs_id'], inplace=True)

In [38]:
tax_code_df.duplicated(['id', 'appstech_labs_id'])

0     False
1     False
2     False
3     False
5     False
9     False
10    False
14    False
15    False
17    False
dtype: bool

In [40]:
# save dataframe to db
# tax_code_df.to_sql('quickbooks_tax_codes', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate Items Table</h1>

### Fetch data from site with bs4

In [42]:
url = "https://supergrocerylist.com/list/498?iframe=1"
page = requests.get(url)
print(page)
soup = BeautifulSoup(page.content, 'html.parser')

<Response [200]>

In [43]:
categories = []
items = []

for text in soup.find_all('tr', {'class': 'category'})[1:]:
    categories.append(text.get_text().strip())

cat_len = len(categories)
i = 0
for tag in soup.find_all('tr')[1:]:
    if i <= cat_len - 1:       
        if tag.find_all('td')[0].get_text().strip() not in categories:
            item = {'name': tag.find_all('td')[0].get_text(),
                    'description': tag.find_all('td')[1].get_text(),
                    'category': categories[i],
                    "unit_price": float(str(tag.find_all('td')[4].get_text()).split('/')[0].split('$')[1]) if tag.find_all('td')[4].get_text() != '' else '',
                    "inventory": bool(np.random.choice([True, False], p=(0.90, 0.10)))}
            items.append(item)
        else:
            i = i + 1
            
items = items[1:]
items[:3]

[{'name': '7Up Cake',
  'description': ' Village Bakery ',
  'category': 'Baking',
  'unit_price': 0.15,
  'inventory': True},
 {'name': 'Apple Cider Donuts (Seasonal)',
  'description': ' Bake Shop ',
  'category': 'Baking',
  'unit_price': 0.38,
  'inventory': True},
 {'name': 'Artisan Flatbread (Stone Oven Baked - 2 Pack)',
  'description': ' Specially Selected  ',
  'category': 'Baking',
  'unit_price': 0.18,
  'inventory': True}]

In [138]:
def generate_items(items):
    columns = ['name', 'item_category_type', 'item_type', 'income_account_ref_value', 'income_account_ref_name', 'expense_account_ref_name', 'expense_account_ref_value', 'asset_account_ref_value', 'asset_account_ref_name', 'sales_tax_code_ref_vale', 'sales_tax_code_ref_name', 'class_ref_value', 'class_ref_name', 'parent_ref_value', 'parent_ref_name', 'fully_qualified_name', 'unitprice', 'purchase_cost', 'service_type', 'purchase_tax_code_ref_value', 'purchase_tax_code_ref_name', 'pref_vendor_ref_value', 'pref_vendor_ref_name', 'purchase_desc', 'reorder_point', 'uqc_display_text', 'uqc_id', 'sub_item', 'taxable', 'abatement_rate', 'reverse_charge_rate', 'description', 'level', 'sales_tax_included', 'purchase_tax_included', 'track_qty_onhead', 'stock_keeping_unit', 'qty_onhand', 'inv_start_date', 'tax_classification_ref_value', 'tax_classificaiton_ref_name']
    columns = columns.extend(general_columns)
    df = pd.DataFrame(columns=columns)
    user_ids = user_df.loc[:, 'id'].values.tolist()
    
    k = 1
    for user_id in user_ids:
        for index, item in enumerate(items):
            table_id = faker.random_int(min=1, max=10)
            appstech_labs_id = user_id
            name = item['name']
            item_category_type = item['category']
            item_type = np.random.choice(['inventory', 'service', 'non-inventory'], p=(0.6, 0.2, 0.2))
            income_account_ref_value = faker.random_int(min=1, max=10)
            income_account_ref_name = faker.name()
            expense_account_ref_value = faker.random_int(min=1, max=10)
            expense_account_ref_name = faker.name()
            asset_account_ref_value = faker.random_int(min=1, max=10) if item_type == 'inventory' else np.NaN
            asset_account_ref_name = faker.name() if item_type == 'inventory' else np.NaN
            
            if tax_code_df.loc[(tax_code_df['appstech_labs_id'] == 1) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)]['id'].shape[0] != 0:
                sales_tax_code_ref_value = tax_code_df.loc[(tax_code_df['appstech_labs_id'] == appstech_labs_id) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)]['id'].values[0]
                sales_tax_code_ref_name = tax_code_df.loc[(tax_code_df['appstech_labs_id'] == appstech_labs_id) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)]['name'].values[0]
            else:
                sales_tax_code_ref_value = np.NaN
                sales_tax_code_ref_name = np.NaN
                
            class_ref_value = faker.random_int(min=1, max=10)
            class_ref_name = faker.name()
            parent_ref_value = faker.random_int(min=1, max=10)
            parent_ref_name = faker.name()
            fully_qualified_name = item['name']
            unitprice = item['unit_price']
            purchase_cost = item['unit_price'] - 0.02
            service_type = np.NaN
            
            if tax_code_df.loc[(tax_code_df['appstech_labs_id'] == appstech_labs_id) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)]['id'].shape[0] != 0:
                purchase_tax_code_ref_value = tax_code_df.loc[(tax_code_df['appstech_labs_id'] == appstech_labs_id) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)]['id'].values[0]
                purchase_tax_code_ref_name = tax_code_df.loc[(tax_code_df['appstech_labs_id'] == appstech_labs_id) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)]['name'].values[0]
            else:
                purchase_tax_code_ref_value = 'NON'
                purchase_tax_code_ref_name = 'NON'
            
            pref_vendor_ref_value = faker.random_int(min=1, max=10)
            pref_vendor_ref_name = faker.name()
            purchase_desc = faker.sentence()
            reorder_point = np.NaN
            uqc_display_text = np.NaN
            uqc_id = np.NaN
            sub_item = np.NaN
            taxable = np.random.choice([True, False], p=(0.4, 0.6))
            abatement_rate = np.NaN
            reverse_charge_rate = np.NaN
            description = item['description']
            level = np.NaN
            sales_tax_included = np.random.choice([True, False], p=(0.6, 0.4))
            purchase_tax_included = np.random.choice([True, False], p=(0.4, 0.6))
            qty_onhand = faker.random_int(min=100, max=1000) if item_type == 'inventory' else np.NaN
            track_qty_onhand = bool(True) if qty_onhand != np.NaN else bool(False)
            stock_keeping_unit = faker.uuid4()
            inv_start_date = faker.date_between(start_date='-2y')
            tax_classification_ref_value = faker.random_int(min=1, max=10)
            tax_classification_ref_name = faker.name()

            df = df.append({'id': k, 'appstech_labs_id': appstech_labs_id, 'name': name, 'item_category_type': item_category_type, 'item_type': item_type, 'income_account_ref_value': income_account_ref_value,
                           'income_account_ref_name': income_account_ref_name, 'expense_account_ref_value': expense_account_ref_value, 'expense_account_ref_name': expense_account_ref_name, 'asset_account_ref_value': asset_account_ref_value,
                           'asset_account_ref_name': asset_account_ref_name, 'sales_tax_code_ref_value': sales_tax_code_ref_value, 'sales_tax_code_ref_name': sales_tax_code_ref_name, 'class_ref_value': class_ref_value,
                           'class_ref_name': class_ref_name, 'parent_ref_value': parent_ref_value, 'parent_ref_name': parent_ref_name, 'fully_qualified_name': fully_qualified_name, 'unitprice': unitprice, 'purchase_cost': purchase_cost,
                           'service_type': service_type, 'purchase_tax_code_ref_value': purchase_tax_code_ref_value, 'purchase_tax_code_ref_name': purchase_tax_code_ref_name, 'pref_vendor_ref_value': pref_vendor_ref_value, 'pref_vendor_ref_name': pref_vendor_ref_name,
                           'purchase_desc': purchase_desc, 'reorder_point': reorder_point, 'uqc_display_text': uqc_display_text, 'uqc_id': uqc_id, 'sub_item':sub_item, 'active': general_active(), 'taxable': taxable, 'abatement_rate': abatement_rate,
                           'reverse_charge_rate': reverse_charge_rate, 'description': description, 'level': level, 'sales_tax_included': sales_tax_included, 'purchase_tax_included': purchase_tax_included, 'track_qty_onhand': bool(track_qty_onhand),
                           'stock_keeping_unit': stock_keeping_unit, 'qty_onhand': qty_onhand, 'inv_start_date': inv_start_date, 'tax_classification_ref_value': tax_classification_ref_value, 'tax_classification_ref_name': tax_classification_ref_name,
                           'domain': general_domain_name(), 'sparse': general_sparse(), 'sync_token': general_sync_token(), 'metadata_createtime': general_meta_time(), 'metadata_last_updatedtime': general_meta_time()}, ignore_index=True)
            k = k + 1
            
    df[['sparse', 'active', 'sales_tax_included', 'purchase_tax_included', 'taxable', 'track_qty_onhand']] = df[['sparse', 'active', 'sales_tax_included', 'purchase_tax_included', 'taxable', 'track_qty_onhand']].astype('boolean')
    return df

In [139]:
items_df = generate_items(items)
items_df.head()

,abatement_rate,active,appstech_labs_id,asset_account_ref_name,asset_account_ref_value,class_ref_name,class_ref_value,description,domain,expense_account_ref_name,...,stock_keeping_unit,sub_item,sync_token,tax_classification_ref_name,tax_classification_ref_value,taxable,track_qty_onhand,unitprice,uqc_display_text,uqc_id
0,nan,True,1,Shawn Crosby,4,Mr. Charles King DDS,9,Village Bakery,QBO,Catherine Matthews,...,03be84a3-52b1-4f21-98d0-001a76f3199a,nan,ae66cdcc-7986-45e5-b88c-b78075debdde,Amanda Finley,9,False,True,0,nan,nan
1,nan,True,1,NaN,nan,Robert Ruiz,2,Bake Shop,QBO,Jesus Watkins,...,6e8cdea7-c85b-40ad-9ac6-92ee120f1a87,nan,455a1092-330c-4df1-8cd2-9bcc97e7dee1,Mark Williams,2,False,True,0,nan,nan
2,nan,True,1,Tracy Cain,6,Elizabeth Armstrong,7,Specially Selected,QBO,Nicholas Schmidt,...,5d9fce66-656d-451a-a434-a0102f77522f,nan,506ce0a5-3c84-4f4a-b5c4-cd637a126ee8,Mr. Jonathan Bryant,6,False,True,0,nan,nan
3,nan,True,1,NaN,nan,Pamela Warner,10,Specially Selected,QBO,Katherine Hatfield,...,5d3a3f75-0f0c-4601-986d-d291924cfdea,nan,1337ac04-3899-47a1-88ad-ef3fda74694b,Jason Valdez,3,True,True,0,nan,nan
4,nan,True,1,Tricia Lopez,5,Elaine Flores,7,L'oven,QBO,Adam Green,...,5b8735be-7354-4bed-af75-5e2242b69917,nan,082c5b3a-f32d-40fe-9801-0f72f32c1d8d,Aaron Goodman,10,True,True,0,nan,nan

In [140]:
# save dataframe to db
# items_df.to_sql('quickbooks_items', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate SalesReceipt Table</h1>

In [170]:
def get_name():
    return faker.name()

def get_currency():
    currency_codes = [{'code': 'USD', 'name': 'United States Dollar'}, {'code': 'CAD', 'name': 'Canadian Dollar'}, {'code': 'AUD', 'name': 'Australian Dollar'}, {'code': 'XAF', 'name': 'Central African CFA franc'}]
    return np.random.choice(currency_codes, p=[0.8, 0.05, 0.05, 0.1])

def get_print_status():
    status = ['NotSet', 'NeedToPrint', 'PrintComplete']
    return faker.random_element(elements=status)

def get_email_status():
    status = ['NotSet', 'NeedToSend', 'EmailSent']
    return faker.random_element(elements=status)

def get_global_tax_calc():
    tax = ['TaxExcluded', 'TaxInclusive', 'NotApplicable']
    return faker.random_element(elements=tax)

def get_transaction_loc_type():
    loc = ['WithinFrance', 'FranceOverseas', 'OutSideFranceWithEU', 'OutsideEU']
    return faker.random_element(elements=loc)

def apply_tax_after_discount():
    return np.random.choice([True, False], p=[0.8, 0.2])

def get_discount_amt(amt):
    return 5 / 100 * amt

def generate_sales_datetime(month, year):
    day_range = calendar.monthrange(year, month)[1]
    random_day = random.randint(1, day_range)
    
    if random.random() < 0.5:
        date = datetime.datetime(year, month, random_day, 12, 0)
    else:
        date = datetime.datetime(year, month, random_day, 20, 0)
        
    time_offset = np.random.normal(loc=0, scale=180)
    final_date = date + datetime.timedelta(minutes=time_offset)
    
    return final_date.strftime('%Y-%m-%d %H:%M')

def get_tax_amt(tax_value, appstech_labs_id):
    if tax_value != 'nan':
        if tax_value != 'NON' and tax_value != 'TAX' and tax_value != None:
            tax_df = tax_code_df[(tax_code_df['id'] == tax_value) & (tax_code_df['appstech_labs_id'] == appstech_labs_id) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)].loc[:, ['sales_tax_ratelist_nested']]
            if tax_df.shape[0] != 0:
                tax_details = json.loads(tax_df.values[0][0])
                tax_rate_id = tax_details['TaxRateDetail'][0]['TaxRateRef']['value']
                tax_amt = tax_rate_df.loc[tax_rate_df['id'] == tax_rate_id].loc[:, ['rate_value']].values[0][0]
                return tax_amt
    else:
        return 0

def get_line_data(appstech_labs_id, date):
    items = items_df.loc[items_df['appstech_labs_id'] == appstech_labs_id]
    item_ids = items.loc[:, ['id']].values.tolist()
    items_ids = []
    
    for i in item_ids:
        for j in i:
            items_ids.append(j)
            
    item_id = random.choice(items_ids)
    item = items.loc[items['id'] == item_id]
    unit_price = item['unitprice'].values[0]
    qty = faker.random_int(min=1, max=10)
    amt = unit_price * qty
    tax_value = item['sales_tax_code_ref_value'].values[0]
    tax_amt = get_tax_amt(tax_value, appstech_labs_id)
    discount_per = faker.boolean()
    discount_per_value = faker.random_int(min=1, max=15)
    discount_included = faker.boolean()
    
    if tax_amt != None:
        sales_item_line_obj = {
            'Id': faker.random_int(min=1, max=10),
            'DetailType': 'SalesItemLineDetail',
            'SalesItemLineDetail': {
                'TaxInclusiveAmt': (amt + tax_amt) if tax_value != 'NON' and tax_value != 'TAX' else amt,
                'DiscountAmt': get_discount_amt(amt) if not discount_per and discount_included else 0,
                'ItemRef': {
                    'value': item_id,
                    'name': item['name'].values[0]
                },
                'ClassRef': {
                    'value': faker.random_int(min=1, max=10),
                    'name': np.NaN
                },
                'TaxCodeRef': {
                    'value': tax_value,
                    'name': item['sales_tax_code_ref_name'].values[0]
                },
                'MarkupInfo': np.NaN,
                'ItemAccountRef': {
                    'value': np.NaN,
                    'name': np.NaN
                },
                'ServiceDate': date,
                'DiscountRate': faker.random_int(min=0, max=10),
                'Qty': qty,
                'UnitPrice': unit_price,
                'TaxClassificationRef': {
                    'value': faker.random_int(min=1, max=10),
                    'name': faker.name()
                }
            },
            'Amount': amt,
            'Description': faker.sentence(),
            'LineNum': np.NaN,

        }
    else:
        sales_item_line_obj = {
            'Id': faker.random_int(min=1, max=10),
            'DetailType': 'SalesItemLineDetail',
            'SalesItemLineDetail': {
                'TaxInclusiveAmt': amt,
                'DiscountAmt': get_discount_amt(amt) if not discount_per and discount_included else 0,
                'ItemRef': {
                    'value': item_id,
                    'name': item['name'].values[0]
                },
                'ClassRef': {
                    'value': faker.random_int(min=1, max=10),
                    'name': np.NaN
                },
                'TaxCodeRef': {
                    'value': tax_value,
                    'name': item['sales_tax_code_ref_name'].values[0]
                },
                'MarkupInfo': np.NaN,
                'ItemAccountRef': {
                    'value': np.NaN,
                    'name': np.NaN
                },
                'ServiceDate': date,
                'DiscountRate': faker.random_int(min=0, max=10),
                'Qty': qty,
                'UnitPrice': unit_price,
                'TaxClassificationRef': {
                    'value': faker.random_int(min=1, max=10),
                    'name': faker.name()
                }
            },
            'Amount': amt,
            'Description': faker.sentence(),
            'LineNum': np.NaN,

        }
    
    discount_line_obj = {
        'Id': faker.random_int(min=1, max=10),
        'DetailType': 'DiscountLineDetail',
        'DiscountLineDetail': {
            'ClassRef': {
                'value': faker.random_int(min=1, max=10),
                'name': np.NaN
            },
            'TaxCodeRef': {
                'value': item['sales_tax_code_ref_value'].values[0],
                'name': item['sales_tax_code_ref_name'].values[0]
            },
            'DiscountAccountRef': {
                'value': np.NaN,
                'name': np.NaN
            },
            'PercentBased': discount_per,
            'DiscountPercent': discount_per_value if discount_per else 0
        },
        'Amount': discount_per_value / 100 * amt if not discount_per else 0,
        'Description': faker.sentence(),
        'LineNum': faker.random_int(min=1, max=10)
    }
    
    sub_total_line = {
        'id': faker.random_int(min=1, max=10),
        'DetailType': 'SubtotalLineDetail',
        'SubtotalLineDetail': {
            'ItemRef': {
                'value': item_id,
                'name': item['name'].values[0]
            }
        },
        'Amount': amt,
        'Description': faker.sentence(),
        'LineNum': faker.random_int(min=1, max=10)
    }
    res = []
    
    if discount_included:
        return [sales_item_line_obj, discount_line_obj, sub_total_line]
    else:
        return [sales_item_line_obj, sub_total_line]

def get_tax_data(tax_code_values, appstech_labs_id):
    tax_amts = []
    
    for tax_value in tax_code_values:
        if tax_value != 'NON' and tax_value != 'TAX':
            tax_df = tax_code_df[(tax_code_df['id'] == tax_value) & (tax_code_df['appstech_labs_id'] == appstech_labs_id) & (tax_code_df['taxable'] == True) & (tax_code_df['tax_group'] == True)].loc[:, ['sales_tax_ratelist_nested']]
            if tax_df.shape[0] != 0:
                tax_details = json.loads(tax_df.values[0][0])
                tax_rate_id = tax_details['TaxRateDetail'][0]['TaxRateRef']['value']
                tax_amt = tax_rate_df.loc[tax_rate_df['id'] == tax_rate_id].loc[:, ['rate_value']].values[0][0]
                tax_amts.append(tax_amt)
            
    total_tax = sum(tax_amts)
    return {'TotalTax': total_tax}


def get_sales_txn_date():
    return faker.date_between(start_date='-2y')

In [198]:
def generate_sales_receipt_dataframe():
    columns = ['name', 'item_category_type', 'item_type', 'income_account_ref_value', 'income_account_ref_name', 'expense_account_ref_name', 'expense_account_ref_value', 'asset_account_ref_value', 'asset_account_ref_name', 'sales_tax_code_ref_vale', 'sales_tax_code_ref_name', 'class_ref_value', 'class_ref_name', 'parent_ref_value', 'parent_ref_name', 'fully_qualified_name', 'unitprice', 'purchase_cost', 'service_type', 'purchase_tax_code_ref_value', 'purchase_tax_code_ref_name', 'pref_vendor_ref_value', 'pref_vendor_ref_name', 'purchase_desc', 'reorder_point', 'uqc_display_text', 'uqc_id', 'sub_item', 'taxable', 'abatement_rate', 'reverse_charge_rate', 'description', 'level', 'sales_tax_included', 'purchase_tax_included', 'track_qty_onhead', 'stock_keeping_unit', 'qty_onhand', 'inv_start_date', 'tax_classification_ref_value', 'tax_classificaiton_ref_name']
    columns = columns.extend(general_columns)
    user_ids = user_df.loc[:, 'id'].values.tolist()
    yearly_dataframes = []
    
    k = 1
    for user_id in user_ids:
        print(f'\n For user: {user_id} \n')
        for month_value in range(1, 13):
            if month_value <= 10:
                orders_amount = int(np.random.normal(loc=1000, scale=100))

            if month_value == 11:
                orders_amount = int(np.random.normal(loc=1500, scale=400))

            if month_value <= 10:
                orders_amount = int(np.random.normal(loc=2000, scale=400))
                
            df = pd.DataFrame(columns=columns)
            
            for i in range(orders_amount):
                appstech_labs_id = user_id
                customer_ref_value = faker.random_int(min=1, max=10)
                customer_ref_name = faker.name()
                currency_ref_value = get_currency()['code']
                currency_ref_name = get_currency()['name']
                bill_email_address = get_email()
                txn_date = generate_sales_datetime(month_value, 2019)
                custom_field = np.NaN
                ship_date = get_email()
                tracking_no = faker.uuid4()
                class_ref_value = faker.random_int(min=1, max=10)
                class_ref_name = faker.name()
                print_status = get_print_status()
                payment_ref_num = faker.random_int(min=100000, max=300000)
                txn_source = faker.uuid4()
                global_tax_calculation_enum = get_global_tax_calc()
                transaction_location_type = get_transaction_loc_type()
                apply_tax_after_discount = faker.boolean()
                doc_num = faker.random_int(min=100000, max=300000)
                private_note = faker.sentence()
                deposite_to_account_ref_value = faker.random_int(min=1, max=10)
                deposite_to_account_ref_name = faker.name()
                customer_memo = faker.sentence()
                email_status = get_email_status()
                credit_card_payment = np.NaN
                department_ref_value = faker.random_int(min=1, max=10)
                department_ref_name = faker.name()
                ship_method_ref_value = faker.random_int(min=1, max=10)
                ship_method_ref_name = faker.name()

                home_balance = float(decimal.Decimal(random.randrange(100000, 200000)))
                total_amt = float(decimal.Decimal(random.randrange(100000, 200000)))
                balance = float(decimal.Decimal(random.randrange(100, 2000)))
                home_total_amt = float(decimal.Decimal(random.randrange(100, 2000)))

                txn_tax_detail_nested = get_tax_data(['GST'], appstech_labs_id)
                line_nested = get_line_data(appstech_labs_id, txn_date)

                payment_method_ref_value = faker.random_int(min=1, max=10)
                payment_method_ref_name = faker.name()
                exchange_rate = float(decimal.Decimal(random.randrange(10, 20))/100)
                delivery_info_type = np.NaN
                delivery_info_date = get_creation_date()

                ship_from_addr_id = faker.random_int(min=1, max=10)
                ship_from_addr_postal_code = faker.postalcode()
                ship_from_addr_city = faker.city()
                ship_from_addr_country = faker.country()
                ship_from_addr_line5 = faker.sentence()
                ship_from_addr_line4 = faker.sentence()
                ship_from_addr_line3 = faker.sentence()
                ship_from_addr_line2 = faker.sentence()
                ship_from_addr_line1 = faker.sentence()
                ship_from_addr_lat = faker.latitude()
                ship_from_addr_long = faker.longitude()
                ship_from_addr_country_sub_division_code = faker.country_code()
                ship_addr_id = faker.random_int(min=1, max=10)
                ship_addr_postal_code = faker.postalcode()
                ship_addr_city = faker.city()
                ship_addr_country = faker.country()
                ship_addr_line5 = faker.sentence()
                ship_addr_line4 = faker.sentence()
                ship_addr_line3 = faker.sentence()
                ship_addr_line2 = faker.sentence()
                ship_addr_line1 = faker.sentence()
                ship_addr_lat = faker.latitude()
                ship_addr_long = faker.longitude()
                ship_addr_country_sub_division_code = faker.country_code()
                bill_addr_id = faker.random_int(min=1, max=10)
                bill_addr_postal_code = faker.postalcode()
                bill_addr_city = faker.city()
                bill_addr_country = faker.country()
                bill_addr_line5 = faker.sentence()
                bill_addr_line4 = faker.sentence()
                bill_addr_line3 = faker.sentence()
                bill_addr_line2 = faker.sentence()
                bill_addr_line1 = faker.sentence()
                bill_addr_lat = faker.latitude()
                bill_addr_long = faker.longitude()
                bill_addr_country_sub_division_code = faker.country_code()
                
                df = df.append({'id': k, 'appstech_labs_id': appstech_labs_id, 'customer_ref_value': customer_ref_value, 'customer_ref_name': customer_ref_name, 'currency_ref_value': currency_ref_value, 'currency_ref_name': currency_ref_name, 'deposit_to_account_ref_value': deposite_to_account_ref_value, 'deposit_to_account_ref_name': deposite_to_account_ref_name,
                            'class_ref_value': class_ref_value, 'class_ref_name': class_ref_name, 'payment_method_ref_value': payment_method_ref_value, 'payment_method_ref_name': payment_method_ref_name, 'department_ref_value': department_ref_value, 'department_ref_name': department_ref_name, 'ship_method_ref_value': ship_method_ref_value, 'ship_method_ref_name': ship_method_ref_name,
                            'bill_addr_id': bill_addr_id, 'bill_addr_line1': bill_addr_line1, 'bill_addr_line2': bill_addr_line2, 'bill_addr_line3': bill_addr_line3, 'bill_addr_line4': bill_addr_line4, 'bill_addr_line5': bill_addr_line5, 'bill_addr_lat': bill_addr_lat, 'bill_addr_long': bill_addr_long, 'bill_addr_postal_code': bill_addr_postal_code, 'bill_addr_postal_city': bill_addr_city, 'bill_addr_country': bill_addr_country, 'bill_addr_country_sub_division_code': bill_addr_country_sub_division_code,
                            'ship_from_addr_id': ship_from_addr_id, 'ship_from_addr_line1': ship_from_addr_line1, 'ship_from_addr_line2': ship_from_addr_line2, 'ship_from_addr_line3': ship_from_addr_line3, 'ship_from_addr_line4': ship_from_addr_line4, 'ship_from_addr_line5': ship_from_addr_line5, 'ship_from_addr_lat': ship_from_addr_lat, 'ship_from_addr_long': ship_from_addr_long, 'ship_from_addr_postal_code': ship_from_addr_postal_code, 'ship_from_addr_postal_city': ship_from_addr_city, 'ship_from_addr_country': ship_from_addr_country, 'ship_from_addr_country_sub_division_code': ship_from_addr_country_sub_division_code,
                            'ship_addr_id': ship_addr_id, 'ship_addr_line1': ship_addr_line1, 'ship_addr_line2': ship_addr_line2, 'ship_addr_line3': ship_addr_line3, 'ship_addr_line4': ship_addr_line4, 'ship_addr_line5': ship_addr_line5, 'ship_addr_lat': ship_addr_lat, 'ship_addr_long': ship_addr_long, 'ship_addr_postal_code': ship_addr_postal_code, 'ship_addr_postal_city': ship_addr_city, 'ship_addr_country': ship_addr_country, 'ship_addr_country_sub_division_code': ship_addr_country_sub_division_code,
                            'transaction_location_type': transaction_location_type, 'global_tax_calculation': global_tax_calculation_enum, 'customer_memo_value': customer_memo, 'bill_email_address': bill_email_address, 'txn_date': txn_date, 'txn_source': txn_source, 'apply_tax_after_discount': apply_tax_after_discount, 'print_status': print_status, 'ship_date': ship_date, 'tracking_num': tracking_no, 'exchange_rate': exchange_rate, 'doc_number': doc_num, 'private_note': private_note, 'email_status': email_status,
                            'payment_ref_num': payment_ref_num, 'delivery_info_type': delivery_info_type, 'delivery_info_date_time': delivery_info_date, 'total_amt': total_amt, 'home_total_amt': home_total_amt, 'balance': balance, 'home_balance': home_balance, 'domain': general_domain_name(), 'sparse': general_sparse(), 'sync_token': general_sync_token(), 'metadata_createtime': txn_date, 'metadata_last_updatedtime': txn_date,
                            'line_nested': line_nested,
                            'custom_field_nested': custom_field,
                            'txn_tax_detail_nested': txn_tax_detail_nested,}, ignore_index=True)
                
                df[['sparse', 'apply_tax_after_discount']] = df[['sparse', 'apply_tax_after_discount']].astype('boolean')

                k = k + 1
            
            month_name = calendar.month_name[month_value]
            print(month_name + ' ' + 'Finished...')
            yearly_dataframes.append(df)
    
    print('\n Processing dataframes... \n')
    
    final_df = pd.concat(yearly_dataframes, axis=0, ignore_index=True)
    final_df.sort_values(by=['txn_date'], inplace=True, ignore_index=True)
    final_df['txn_date'] = pd.to_datetime(new_df['order_date'], format='%Y-%m-%d %H:%M')
    
    final_df['line_nested'] = final_df['line_nested'].apply(lambda x: json.dumps(x, default=default))
    final_df['txn_tax_detail_nested'] = final_df['txn_tax_detail_nested'].apply(lambda x: json.dumps(x, default=default))
    
    print('\n Done... \n')
    
    return final_df

In [199]:
sales_receipt_df = generate_sales_receipt_dataframe()
sales_receipt_df.head()

 For user: 1

January Finished...
February Finished...
March Finished...
April Finished...
May Finished...
June Finished...
July Finished...
August Finished...
September Finished...
October Finished...
November Finished...
December Finished...

 For user: 2

January Finished...
February Finished...
March Finished...
April Finished...
May Finished...
June Finished...
July Finished...
August Finished...
September Finished...
October Finished...
November Finished...
December Finished...

 For user: 3

January Finished...
February Finished...
March Finished...
April Finished...
May Finished...
June Finished...
July Finished...
August Finished...
September Finished...
October Finished...
November Finished...
December Finished...

 Processing dataframes...


 Done...

,apply_tax_after_discount,appstech_labs_id,balance,bill_addr_country,bill_addr_country_sub_division_code,bill_addr_id,bill_addr_lat,bill_addr_line1,bill_addr_line2,bill_addr_line3,...,ship_method_ref_name,ship_method_ref_value,sparse,sync_token,total_amt,tracking_num,transaction_location_type,txn_date,txn_source,txn_tax_detail_nested
0,False,1,790,Saint Vincent and the Grenadines,SE,5,71.2971385,Huge around country really some.,Fire let forward rock avoid compare call.,Material clear sell price wide.,...,Erica Jones,1,False,a22029e3-f623-44e3-a6c6-4726788bf1c4,"158,204",d667fb70-97d2-45c1-b1ce-40075d2bf451,OutsideEU,2019-01-01 07:56:00,1d48a543-0f13-4cd6-91fe-060fae5b233c,"{""TotalTax"": 0}"
1,True,1,989,Germany,IE,8,28.792737,Month successful his team hundred parent.,Protect training produce type again charge cell.,Medical alone seek choice such.,...,Blake Chapman,4,False,a9a7073e-4068-4b8d-add6-2359eac31f2e,"120,377",025af14d-4a5a-4953-b92b-d355bd9e3d4f,OutSideFranceWithEU,2019-01-01 09:33:00,0e7504e2-4315-4005-ae17-774f0e136aa8,"{""TotalTax"": 0}"
2,True,1,503,Israel,MV,6,61.4048395,Manage though respond hour sound.,Skill age exist affect beautiful.,Baby write in fish indeed people.,...,Misty Barnes,10,False,31f2262a-6fae-4ba6-be28-b5ff91f6ad26,"115,690",8b52783b-d98e-45b0-896b-b9ec4ca33f49,OutSideFranceWithEU,2019-01-01 09:50:00,f97324ec-9b84-4eb2-a202-370e1884fd2e,"{""TotalTax"": 0}"
3,False,1,401,Panama,GW,4,-43.7521885,Generation former lead cause.,Short nation with pattern.,History box technology share.,...,April Silva,3,False,25bdadd2-5ace-4f5f-99cf-f1e72bc01e58,"145,015",5f00b849-1800-42ea-a6f8-641fbd6902cc,WithinFrance,2019-01-01 09:51:00,9a02b532-381a-4a90-b021-cc3d07e27738,"{""TotalTax"": 0}"
4,True,2,495,United Kingdom,AT,5,38.706221,Role smile first purpose entire seek team.,Marriage money bag shake analysis.,Dark compare own one.,...,Derrick Ellis,9,False,e4a23c6e-1377-40a6-97b9-8903567add14,"144,184",9f7a74c2-0232-4f3b-aee7-8f9bda1830f6,FranceOverseas,2019-01-01 11:04:00,06d1bd6b-ac99-4f69-b903-7447dfc63564,"{""TotalTax"": 0}"

In [201]:
# save dataframe to db
# sales_receipt_df.to_sql('quickbooks_sales_receipts', con=engine, if_exists='append', index=False)